@font-face {
    font-family: 'respira';
    src: url('../assets/fonts/Respira-Black.woff2') format('woff2'),
        url('../assets/fonts/Respira-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}